# Python Distribution Package Requirements for Graphite Eagle.
#
# Source:: https://github.com/ampledata/graphiteeagle
# Author:: Greg Albrecht <oss@undef.net>
# Copyright:: Copyright 2017 Greg Albrecht
# License:: Apache License, Version 2.0


flake8
pylint
twine
